$color-primary: #f1cdb3;
$color-bg: #867164;
$color-light-x: #ffffff;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-x1: #4c4c4c;
$color-dark-3x1: #292929;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-gradient-bg-1: #544235;
$color-gradient-bg-2: #222021;
$color-bg-1: #ffffff;
$color-bg-2: #f6f6f6;
$color-button-2: transparent;