button {
  height: 52px;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  border-color: $color-primary;
  border-radius: 26px;
  cursor: pointer;
}

.button-main {
  background-color: $color-primary;
  transition: 0.6s;
}

.button-main:hover {
  background-color: $color-primary-light;
}

.button-secound {
  background-color: $color-button-2;
  border-style: solid;
  border-color: $color-primary;
  transition: 0.6s;
}

.button-secound:hover,
.button-secound_hover { // Class to make hover effect width JS
  background-color: $color-primary-light;
  border-color: $color-button-2;
}

.not-only__button {
  width: 207px;
}

.our-friends__button {
  width: 261px;
}

.carousel__button,
.list__button {
  width: 52px;
}

.card__button {
  width: 187px;
}

.list__button:disabled {
  border-color: $color-dark-s;
}

.list__button:disabled:hover {
  background-color: $color-button-2;
  border-color: $color-dark-s;
}