.about-shelter {
  position: relative;
  top: -120px;
  height: 588px;
  background-image: url(../../images/about-pets.png);
  background-repeat: no-repeat;
  background-position: 14vw 80px;
  div {
    position: relative;
    left: 38.55vw;
    top: 94px;
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h3 {
    width: 350px;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    color: $color-dark-x1;
  }
}