.about-shelter {
  height: 588px;

  &>div {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    div {
      width: 430px;
      height: 380px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h3 {
      width: 350px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      color: $color-dark-x1;
    }
  }
}