footer {
  height: 350px;
  display: flex;
  gap: 160px;
  background-image: url(../../images/footer-gradient-background.jpg), linear-gradient(135deg, $color-gradient-bg-1, $color-gradient-bg-2);
  background-position: left top, left top;
  background-repeat: no-repeat, no-repeat;

  h3 {
    color: $color-light-x;
  }

  h4 {
    color: $color-primary;
  }

  &>img {
    align-self: flex-end;
  }

  &>div {
    position: relative;
    top: 56px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &>div,
    &>a {
      display: flex;
      gap: 20px;
      align-items: center;
      cursor: pointer;
    }
  }

  .footer__div-1 {
    width: 278px;
  }

  .footer__div-2 {
    width: 302px;
  }
}