body {
  background-color: $color-bg;
}

.wrapper {
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.bg-1 {
  background-color: $color-bg-1;
}

.bg-2 {
  background-color: $color-bg-2;
}