.not-only {
  height: 788px;
  background-image: url(../../images/start-screen-puppy.png), url(../../images/start-screen-gradient-background.jpg), linear-gradient(135deg, $color-gradient-bg-1, $color-gradient-bg-2);
  background-position: right 40px bottom, left bottom, left top;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.not-only__div {
  position: relative;
  top: 223px;
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    width: 310px;
    font-family: "Georgia", serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    color: $color-light-s;
  }
  p {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $color-dark-s;
  }
}