.our-pets_our-friends {
  height: 1342px;
  &>div {
    position: relative;
    top: 80px;
    width: 1200px;
    height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h3 {
      text-align: center;
      width: 400px;
    }
  }
}

.list {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>div {
    width: 990px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    background-color: inherit;
  }
}

.list__card {
  width: 270px;
  height: 405px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-light-s;
  outline: 0px solid $color-primary;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;
  p {
    font-family: "Georgia", serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
  }
}

.list__card:hover {
  background-color: $color-light-x;
  transform: scale(107%);
  outline: 3px solid $color-primary;
}

.list__buttons-panel {
  display: flex;
  gap: 20px;
}

.list-number {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  border-radius: 26px;
}