p,
ul {
  font-family: "Arial", sans-serif;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2px;
  color: $color-dark-l;
}

h4 {
  font-family: "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1px;
  color: $color-dark-l;
}