@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/ArialMT.ttf);
}
@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
}
html {
  scroll-behavior: smooth;
}

p,
ul {
  font-family: "Arial", sans-serif;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2px;
  color: #545454;
}

h4 {
  font-family: "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a > :visited {
  color: inherit;
}

button {
  border-style: none;
}

button {
  height: 52px;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  border-color: #f1cdb3;
  border-radius: 26px;
  cursor: pointer;
}

.button-main {
  background-color: #f1cdb3;
  transition: 0.6s;
}

.button-main:hover {
  background-color: #fddcc4;
}

.button-secound {
  background-color: transparent;
  border-style: solid;
  border-color: #f1cdb3;
  transition: 0.6s;
}

.button-secound:hover,
.button-secound_hover {
  background-color: #fddcc4;
  border-color: transparent;
}

.not-only__button {
  width: 207px;
}

.our-friends__button {
  width: 261px;
}

.carousel__button,
.list__button {
  width: 52px;
}

.card__button {
  width: 187px;
}

.list__button:disabled {
  border-color: #cdcdcd;
}

.list__button:disabled:hover {
  background-color: transparent;
  border-color: #cdcdcd;
}

body {
  background-color: #867164;
}

.wrapper {
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.bg-1 {
  background-color: #ffffff;
}

.bg-2 {
  background-color: #f6f6f6;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  background-position: left top, left top;
  background-repeat: no-repeat, no-repeat;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #545454;
}
.logo p {
  font-size: 13px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #292929;
}

.nav {
  color: #fafafa;
}
.nav ul {
  margin-top: 16px;
  display: flex;
  gap: 36px;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}
.nav a {
  color: #545454;
}
.nav a:hover {
  font-weight: 700;
  color: #292929;
}
.nav a:visited {
  color: #545454;
}

.nav__link_active {
  font-weight: 600;
  color: #292929;
  text-decoration-line: underline;
  text-decoration-color: #f1cdb3;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.nav__link_active a:hover {
  font-weight: 600;
}
.nav__link_active a:visited {
  color: #292929;
  text-decoration-color: #f1cdb3;
}

.our-pets_our-friends {
  height: 1342px;
}
.our-pets_our-friends > div {
  position: relative;
  top: 80px;
  width: 1200px;
  height: 1162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.our-pets_our-friends > div h3 {
  text-align: center;
  width: 400px;
}

.list {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list > div {
  width: 990px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  background-color: inherit;
}

.list__card {
  width: 270px;
  height: 405px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  outline: 0px solid #f1cdb3;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;
}
.list__card p {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
}

.list__card:hover {
  background-color: #ffffff;
  transform: scale(107%);
  outline: 3px solid #f1cdb3;
}

.list__buttons-panel {
  display: flex;
  gap: 20px;
}

.list-number {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1cdb3;
  border-radius: 26px;
}

footer {
  height: 350px;
  display: flex;
  gap: 160px;
  background-image: url(../../assets/images/footer-gradient-background.jpg), linear-gradient(135deg, #544235, #222021);
  background-position: left top, left top;
  background-repeat: no-repeat, no-repeat;
}
footer h3 {
  color: #ffffff;
}
footer h4 {
  color: #f1cdb3;
}
footer > img {
  align-self: flex-end;
}
footer > div {
  position: relative;
  top: 56px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer > div > div, footer > div > a {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
footer .footer__div-1 {
  width: 278px;
}
footer .footer__div-2 {
  width: 302px;
}

/*# sourceMappingURL=style.css.map */
